<a href="https://colab.research.google.com/github/codesH-himanshi/ML/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
liver = pd.read_csv("indian_liver_patient.csv")
print("Dimension of the dataset is:", liver.shape)
print("Size of the dataset is:",liver.size)

Dimension of the dataset is: (583, 11)
Size of the dataset is: 6413

In [10]:
print("Columns in the dataset are:\n", liver.keys())
print("Columns in the dataset are:\n", liver.columns)

Columns in the dataset are:
 Index(['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio', 'Dataset'],
      dtype='object')
Columns in the dataset are:
 Index(['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio', 'Dataset'],
      dtype='object')

In [11]:
print("Information of the dataset is:\n", liver.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB
Information of the dataset is:
 None

In [13]:
print("Details of the dataset is:\n", liver.describe)

Details of the dataset is:
 <bound method NDFrame.describe of      Age  Gender  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
0     65  Female              0.7               0.1                   187
1     62    Male             10.9               5.5                   699
2     62    Male              7.3               4.1                   490
3     58    Male              1.0               0.4                   182
4     72    Male              3.9               2.0                   195
..   ...     ...              ...               ...                   ...
578   60    Male              0.5               0.1                   500
579   40    Male              0.6               0.1                    98
580   52    Male              0.8               0.2                   245
581   31    Male              1.3               0.5                   184
582   38    Male              1.0               0.3                   216

     Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Protiens  \
0                          16                          18             6.8
1                          64                         100             7.5
2                          60                          68             7.0
3                          14                          20             6.8
4                          27                          59             7.3
..                        ...                         ...             ...
578                        20                          34             5.9
579                        35                          31             6.0
580                        48                          49             6.4
581                        29                          32             6.8
582                        21                          24             7.3

     Albumin  Albumin_and_Globulin_Ratio  Dataset
0        3.3                        0.90        1
1        3.2                        0.74        1
2        3.3                        0.89        1
3        3.4                        1.00        1
4        2.4                        0.40        1
..       ...                         ...      ...
578      1.6                        0.37        2
579      3.2                        1.10        1
580      3.2                        1.00        1
581      3.4                        1.00        1
582      4.4                        1.50        2

[583 rows x 11 columns]>

In [12]:
print("Description of the dataset is:\n", liver.describe())

Description of the dataset is:
               Age  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
count  583.000000       583.000000        583.000000            583.000000
mean    44.746141         3.298799          1.486106            290.576329
std     16.189833         6.209522          2.808498            242.937989
min      4.000000         0.400000          0.100000             63.000000
25%     33.000000         0.800000          0.200000            175.500000
50%     45.000000         1.000000          0.300000            208.000000
75%     58.000000         2.600000          1.300000            298.000000
max     90.000000        75.000000         19.700000           2110.000000

       Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Protiens  \
count                583.000000                  583.000000      583.000000
mean                  80.713551                  109.910806        6.483190
std                  182.620356                  288.918529        1.085451
min                   10.000000                   10.000000        2.700000
25%                   23.000000                   25.000000        5.800000
50%                   35.000000                   42.000000        6.600000
75%                   60.500000                   87.000000        7.200000
max                 2000.000000                 4929.000000        9.600000

          Albumin  Albumin_and_Globulin_Ratio     Dataset
count  583.000000                  579.000000  583.000000
mean     3.141852                    0.947064    1.286449
std      0.795519                    0.319592    0.452490
min      0.900000                    0.300000    1.000000
25%      2.600000                    0.700000    1.000000
50%      3.100000                    0.930000    1.000000
75%      3.800000                    1.100000    2.000000
max      5.500000                    2.800000    2.000000

In [14]:
print("First five records of dataset are:\n", liver.head())

First five records of dataset are:
    Age  Gender  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
0   65  Female              0.7               0.1                   187
1   62    Male             10.9               5.5                   699
2   62    Male              7.3               4.1                   490
3   58    Male              1.0               0.4                   182
4   72    Male              3.9               2.0                   195

   Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Protiens  \
0                        16                          18             6.8
1                        64                         100             7.5
2                        60                          68             7.0
3                        14                          20             6.8
4                        27                          59             7.3

   Albumin  Albumin_and_Globulin_Ratio  Dataset
0      3.3                        0.90        1
1      3.2                        0.74        1
2      3.3                        0.89        1
3      3.4                        1.00        1
4      2.4                        0.40        1

In [15]:
print("First two records of dataset are:\n", liver.head(2))

First two records of dataset are:
    Age  Gender  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
0   65  Female              0.7               0.1                   187
1   62    Male             10.9               5.5                   699

   Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Protiens  \
0                        16                          18             6.8
1                        64                         100             7.5

   Albumin  Albumin_and_Globulin_Ratio  Dataset
0      3.3                        0.90        1
1      3.2                        0.74        1

In [17]:
print("First 3 records of TB and DB: \n", liver[['Total_Bilirubin','Direct_Bilirubin']].head(3))

First 3 records of TB and DB:
    Total_Bilirubin  Direct_Bilirubin
0              0.7               0.1
1             10.9               5.5
2              7.3               4.1

In [18]:
print("Last three records of dataset is:\n", liver.tail(3))

Last three records of dataset is:
      Age Gender  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
580   52   Male              0.8               0.2                   245
581   31   Male              1.3               0.5                   184
582   38   Male              1.0               0.3                   216

     Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Protiens  \
580                        48                          49             6.4
581                        29                          32             6.8
582                        21                          24             7.3

     Albumin  Albumin_and_Globulin_Ratio  Dataset
580      3.2                         1.0        1
581      3.4                         1.0        1
582      4.4                         1.5        2

In [19]:
print("Last 2 records of age and TB: \n", liver[['Age','Total_Bilirubin']].tail(2))

Last 2 records of age and TB:
      Age  Total_Bilirubin
581   31              1.3
582   38              1.0

In [20]:
print("Values for Alkphos column are:\n", liver['Alkaline_Phosphotase'].values)

Values for Alkphos column are:
 [ 187  699  490  182  195  208  154  202  202  290  210  260  310  214
  145  183  342  165  293  293  610  482  542  231  194  289  289  240
  128  188  190  156  187  410  410  482  145  374  263  275  168  160
  630  415  208  275  150  230  176  206  170  161  253  198  272  272
  198  175  367  145  158  158  158  208  259  470  195  215  239  215
  186  188  205  171  145  162  518 1620  146  670  915   75  148  258
  237  269  320  298  538  238  214  308  298  204  168  282  298  215
  265  312  161  243  224  225  170  145  145  158  158  486  188  257
  179  272  661 1580 1630  194  280  298  300  290  188  178  177  201
  802  248 1896  263  512  237  199  238  178 1110  310  282  282  380
  186  159  332  332  189  201  168  392  202  286  180  218  182  178
  290  298  462  196  196  282  750 1050  599  180  180  282  332  292
  962  950  200  298  750  175  175  198  482 1020  562  386  250  218
  170  171  201  298  750  191  614  218  314  257  272  206  209 1124
  664  142  169 1420  218  218  145  142  135  163  285  350  220  189
  190  219  160  401  180  100  116  159  289  125  147  192  265  175
  400  120  173  186  202  290  196  282  157 2110  285  360  300  158
  190  196  165  230  205  316  218  290  272  190  202  498  480  680
  258  180  152  859  901  335  182  285  245  505  228  185  247  348
  195  140  358  110  235  460  380  262  196  180  190  190  209  144
  123  192  188  316  300  575  192  155  239  315  250  174  245  191
  340  202  234  159  190  195  180  280  430  206  155  195  588  174
  165  527  175  574  106  158  195  179  182  198  216  310   63  198
  205  302  171  158  358  174  192  211  157  210  258  152  350  182
  458  375  405  215  206  650  198  198  195  230  115  216  358  158
  145  195  144  621  150  178  256  205  176  146  218  182  215  165
  183  176  418  271  182  130  558  135  326  140  145  206  168  202
  192  185  331  188  172  159  490  152  105  160  160  102  148  162
  149  580  310  140  175  152  208  205  162   92  162  199  198  215
  180  719  554  555  215  509  190  208  260  690  862  592  450 1350
 1350  163  246  178  240  100  166  170  194 1750  182  236  165  201
  194  206  212  157  162  168  198  292  298  152  163  279  181 1550
  142  173  282  279 1100  224  159  186  189  192  140  686  215  309
  110  130  164  270  137   90  190  165  167  185  197  154  226  310
  310  220  196  186  352  282   92  182  103  850  195  276  171  146
  193  180  805  265  185  165  189  198  151  349  365  305  127  238
  218  219  239  194  450  254  205  320  195  215  230  189  168  215
  210  108  224  230  185  137  156  210  268  298  315  214  138  285
  162  298  230  466  227  395   97  406  114  198  173  204  350  153
  188  380  214  768  172  160  196  232  220  290  180  189  275  390
  356  315  388  298  165  143  191  251  200  268  236  215  134  612
  515  560  289  190  500   98  245  184  216]

In [21]:
print("Number of records for gender:\n", liver['Gender'].value_counts())

Number of records for gender:
 Gender
Male      441
Female    142
Name: count, dtype: int64

In [22]:
print("Number of records based on gender in percentage form:\n", liver['Gender'].value_counts()/len(liver['Gender']))

Number of records based on gender in percentage form:
 Gender
Male      0.756432
Female    0.243568
Name: count, dtype: float64

In [23]:
print("Describing the details of TB column:\n", liver['Total_Bilirubin'].describe())

Describing the details of TB column:
 count    583.000000
mean       3.298799
std        6.209522
min        0.400000
25%        0.800000
50%        1.000000
75%        2.600000
max       75.000000
Name: Total_Bilirubin, dtype: float64

In [24]:
agelist = liver['Age'].tolist()
print("The list corresponding to age is:\n", agelist)

The list corresponding to age is:
 [65, 62, 62, 58, 72, 46, 26, 29, 17, 55, 57, 72, 64, 74, 61, 25, 38, 33, 40, 40, 51, 51, 62, 40, 63, 34, 34, 34, 20, 84, 57, 52, 57, 38, 38, 30, 17, 46, 48, 47, 45, 62, 42, 50, 85, 35, 21, 40, 32, 55, 45, 34, 38, 38, 42, 42, 33, 48, 51, 64, 31, 58, 58, 57, 57, 57, 54, 37, 66, 60, 19, 75, 75, 52, 68, 29, 31, 68, 70, 58, 58, 29, 49, 33, 32, 14, 13, 58, 18, 60, 60, 60, 60, 60, 60, 75, 39, 39, 18, 18, 27, 27, 17, 55, 63, 36, 36, 36, 36, 36, 24, 48, 27, 74, 50, 50, 48, 32, 32, 32, 32, 32, 58, 64, 28, 60, 48, 64, 58, 45, 45, 70, 18, 53, 18, 66, 46, 18, 18, 15, 60, 66, 30, 30, 45, 65, 66, 65, 50, 60, 56, 50, 46, 52, 34, 34, 32, 72, 72, 50, 60, 60, 60, 39, 39, 48, 55, 47, 60, 60, 72, 44, 55, 31, 31, 31, 55, 75, 75, 75, 75, 75, 65, 40, 64, 38, 60, 60, 60, 48, 60, 60, 60, 49, 49, 60, 60, 26, 41, 7, 49, 49, 38, 21, 21, 45, 40, 40, 70, 45, 28, 42, 22, 8, 38, 66, 55, 49, 6, 37, 37, 47, 47, 50, 70, 26, 26, 68, 65, 46, 61, 61, 50, 33, 40, 60, 22, 35, 35, 40, 48, 51, 29, 28, 54, 54, 55, 55, 40, 33, 33, 33, 65, 35, 38, 38, 50, 44, 36, 42, 42, 33, 18, 38, 38, 4, 62, 43, 40, 26, 37, 4, 21, 30, 33, 26, 35, 60, 45, 48, 58, 50, 50, 18, 18, 13, 34, 43, 50, 57, 45, 60, 45, 23, 22, 22, 74, 25, 31, 24, 58, 51, 50, 50, 55, 54, 48, 30, 45, 48, 51, 54, 27, 30, 26, 22, 44, 35, 38, 14, 30, 30, 36, 12, 60, 42, 36, 24, 43, 21, 26, 26, 26, 36, 13, 13, 75, 75, 75, 75, 75, 36, 35, 70, 37, 60, 46, 38, 70, 49, 37, 37, 26, 48, 48, 19, 33, 33, 37, 69, 24, 65, 55, 42, 21, 40, 16, 60, 42, 58, 54, 33, 48, 25, 56, 47, 33, 20, 50, 72, 50, 39, 58, 60, 34, 50, 38, 51, 46, 72, 72, 75, 41, 41, 48, 45, 74, 78, 38, 27, 66, 50, 42, 65, 22, 31, 45, 12, 48, 48, 18, 23, 65, 48, 65, 70, 70, 11, 50, 55, 55, 26, 41, 53, 32, 58, 45, 65, 52, 73, 53, 47, 29, 41, 30, 17, 23, 35, 65, 42, 49, 42, 42, 42, 61, 17, 54, 45, 48, 48, 65, 35, 58, 46, 28, 21, 32, 61, 26, 65, 22, 28, 38, 25, 45, 45, 28, 28, 66, 66, 66, 49, 42, 42, 35, 38, 38, 55, 33, 33, 7, 45, 45, 30, 62, 22, 42, 32, 60, 65, 53, 27, 35, 65, 25, 32, 24, 67, 68, 55, 70, 36, 42, 53, 32, 32, 56, 50, 46, 46, 37, 45, 56, 69, 49, 49, 60, 28, 45, 35, 62, 55, 46, 50, 29, 53, 46, 40, 45, 55, 22, 40, 62, 46, 39, 60, 46, 10, 52, 65, 42, 42, 62, 40, 54, 45, 45, 50, 42, 40, 46, 29, 45, 46, 73, 55, 51, 51, 51, 26, 66, 66, 66, 64, 38, 43, 50, 52, 20, 16, 16, 90, 32, 32, 32, 32, 32, 32, 60, 40, 52, 31, 38]

In [25]:
print("Mean of age is:", liver['Age'].mean())

Mean of age is: 44.74614065180103

In [26]:
print("Median of age is:", liver['Age'].median())

Median of age is: 45.0

In [27]:
print("Maximum alkpos is:", liver['Alkaline_Phosphotase'].max())

Maximum alkpos is: 2110

In [28]:
print("Minimum alkpos is:", liver['Alkaline_Phosphotase'].min())

Minimum alkpos is: 63

In [29]:
print("Sum of TB is:", liver['Total_Bilirubin'].sum)

Sum of TB is: <bound method Series.sum of 0       0.7
1      10.9
2       7.3
3       1.0
4       3.9
       ...
578     0.5
579     0.6
580     0.8
581     1.3
582     1.0
Name: Total_Bilirubin, Length: 583, dtype: float64>

In [30]:
print("Product of TB is:", liver['Total_Bilirubin'].product)

Product of TB is: <bound method Series.prod of 0       0.7
1      10.9
2       7.3
3       1.0
4       3.9
       ...
578     0.5
579     0.6
580     0.8
581     1.3
582     1.0
Name: Total_Bilirubin, Length: 583, dtype: float64>

In [31]:
print("Three smallest values of DB:\n", liver['Direct_Bilirubin'].nsmallest().head(3))

Three smallest values of DB:
 0     0.1
10    0.1
15    0.1
Name: Direct_Bilirubin, dtype: float64

In [32]:
print("Four largest values of DB:\n", liver['Direct_Bilirubin'].nlargest().tail(4))

Four largest values of DB:
 531    18.3
504    17.1
259    14.2
505    14.1
Name: Direct_Bilirubin, dtype: float64

In [34]:
print("Top two records based on descending order for TP are:\n", liver.sort_values(by='Total_Protiens', ascending=False).head(2))

Top two records based on descending order for TP are:
      Age Gender  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
273   30   Male              0.7               0.2                   262
270   37   Male              0.7               0.2                   235

     Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Protiens  \
273                        15                          18             9.6
270                        96                          54             9.5

     Albumin  Albumin_and_Globulin_Ratio  Dataset
273      4.7                         1.2        1
270      4.9                         1.0        1

In [35]:
print("Bottom two records based on descending order for TP are:\n", liver.sort_values(by='Total_Protiens', ascending=False).tail(2))

Bottom two records based on descending order for TP are:
      Age Gender  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
269   26   Male              0.6               0.1                   110
180   75   Male              2.8               1.3                   250

     Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Protiens  \
269                        15                          20             2.8
180                        23                          29             2.7

     Albumin  Albumin_and_Globulin_Ratio  Dataset
269      1.6                         1.3        1
180      0.9                         0.5        1

In [36]:
print("Top two records based on ascending order for TP are:\n", liver.sort_values(by='Total_Protiens', ascending=True).head(2))

Top two records based on ascending order for TP are:
      Age Gender  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
180   75   Male              2.8               1.3                   250
269   26   Male              0.6               0.1                   110

     Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Protiens  \
180                        23                          29             2.7
269                        15                          20             2.8

     Albumin  Albumin_and_Globulin_Ratio  Dataset
180      0.9                         0.5        1
269      1.6                         1.3        1

In [37]:
print("Bottom two records based on ascending order for TP are:\n", liver.sort_values(by='Total_Protiens', ascending=True).tail(2))

Bottom two records based on ascending order for TP are:
      Age Gender  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
270   37   Male              0.7               0.2                   235
273   30   Male              0.7               0.2                   262

     Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Protiens  \
270                        96                          54             9.5
273                        15                          18             9.6

     Albumin  Albumin_and_Globulin_Ratio  Dataset
270      4.9                         1.0        1
273      4.7                         1.2        1